// $main-color: blue;
$shadow: 2px 2px 10px #888888;
$offWhite: #F8F8F8;
$mintyWhite: #F7FFF7;
$lightBlue:   #3693C1;
$grey: #6B6D6D;
$gunmetal: #272838;
$button: #48A9A6;


// App
button {
    width: 70px;
    height: 25px;
    background-color: $button;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    background-color: $offWhite;
    // font-family: 'Saira Extra Condensed', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;

    h3 {
        font-size: 22px;
    }
}

header {
    background-color: $gunmetal;
    font-size: 15px;
    text-align: center;
    color: white;
    // height: 50px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 97px;
    // font-family: 'Satisfy', cursive;

    img {
        width: 120px;
        position: relative;
        left: 30px;
    }

    h1 {
        margin: 0;
        font-weight: lighter;
        // font-size: 32px;
        font-size: 25px;
        font-family: 'Ribeye', cursive;
    }

    a, p {
        // text-align: right;
        color: white;
        margin-right: 5px;
        float: right;
        position: relative;
        top: 0;
        
    }

    a:link {
        text-decoration: none;
    } 

    a:visited{
        color: white;
        
    }

    a:hover {
        color: skyblue;
    }


  
}




// RestaurantSignIn

.rest-sign-in-view {
    background: $offWhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url("/restaurant-background.jpg");
    background-attachment: fixed; 
    background-size: cover;
    height: 85vh;

    h3 {
        color: white;
        font-weight: normal;
        margin-top: 0px;

    }

    button {
        background: $button;
        width: 70%;
        height: 50px;
        font-size: 1.5em;
        border: none;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 5px 5px 5px black;
        color: $mintyWhite;
        border: 1px solid black;
        border-radius: 5px;
    }

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

    input {
        width: 75%;
        padding: 10px;
        font-size: 1.5em;
        margin-bottom: 10px;
        box-shadow: 5px 5px 5px black;
        background: rgba(#f7fff7, 0.8);
            }

            div {
                width: 100%;
                color: grey;
            }

            a {
                color: $gunmetal;
            }

    h2 {
         color: white;
         margin: 0px;
     }

    p {
           text-align: center;
            width: 85%;
            border: 1px solid black;
            font-size: 1.5em;
            background: rgba(#f7fff7, 0.8);
            padding: 5px 5px 5px 0px;
            color: $gunmetal;
            font-weight: lighter;
            margin: 35px 0px 60px;
        }

        input, button, p {
        box-shadow: 2px 2px 10px black;
        border: none;
        }

h5 {
    text-align: center;
    color: $mintyWhite;
    font-weight: normal;
    margin: 20px 0px 0px;
}
        h4 {
            margin: 40px 0px 0px;
            color: $gunmetal;
            text-align: left;
            width: 80%;
            font-size: 1.2em;
            font-weight: normal;
        }

    }
@media (min-width: 800px) {
    .rest-sign-in-view {
        height: 85vh;
        
        h2 {
            text-align: center;
            width: 100%;
        }

        h3 {
            text-align: center;
            width: 100%;
            height: 30px;
            margin-top: 10px;
        }

        p {
            width: 45%;
            margin: 0px;
            height: 20%;
        } 

        h5 {
            text-align: center;
            color: $mintyWhite;
            font-weight: normal;
            margin: 20px 0px 0px;
            font-size: 1.2em;
        }

        #sign-in {
            width: 40%;
            padding: 20px;
        }

        h4 {
            margin: 40px 0px 0px;
            color: $gunmetal;
            text-align: left;
            width: 80%;
            font-size: 1.2em;
            font-weight: normal;
        }
    }
}



// Sign In
.sign-in-view {
    background: $offWhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("/background.jpg");
    background-size: cover;
    height: 85vh;
    align-content: flex-start;

    button {
        background: $button;
        width: 70%;
        height: 50px;
        font-size: 1.5em;
        border: none;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 5px 5px 5px black;
        color: $mintyWhite;
        border: 1px solid black;
        border-radius: 5px;
    }

    #sign-in {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 125px 0px 30px
    }

    input {
        width: 75%;
        padding: 10px;
        font-size: 1.5em;
        margin-bottom: 10px;
        box-shadow: 5px 5px 5px black;
        background: rgba(#f7fff7, 0.8);
        border: none;
    }

    input, button, p {
        box-shadow: 2px 2px 10px black;
        border: none;
    }

    div {
        width: 100%;
        color: grey;
        display: flex;
        align-self: flex-end;
        justify-content: center;

        h5{
            text-align: center;
            color: $mintyWhite;
            font-weight: normal;
            margin: 20px 0px 10px 0px;
        }
    }

    a {
        color: $gunmetal;
    }

    h2 {
         margin: 0px;
    }

    p {
        text-align: center;
        width: 85%;
        font-size: 1.5em;
        box-shadow: $gunmetal;
        background: rgba(#f7fff7, 0.8);
        padding: 3%;
        vertical-align: center;
        color: $gunmetal;
        font-weight: lighter;
        margin-top: 40px;
    }

    h4 {
        margin: 40px 0px 0px;
        color: $gunmetal;
        text-align: left;
        width: 80%;
        font-size: 1.2em;
        font-weight: normal;
    }
}



// Search

.toggle-search-and-map-view {
    text-align: center;
    position: sticky;
    top: 51px;


    button {
        background-color: white;
        width: 49%;
        height: 30px;
        border: none;
        text-decoration: none;
        cursor: pointer;
        box-shadow: $shadow;
        color: black;
    }

    a {
        text-decoration: none;
    }

    button:active {
        background-color: lightgrey;
    }
}

// Map View
#map {
  height: 560px;
  width: 100%;
  margin-top: 10px;
 }


#infoWindow {
    display: flex;
    font-size: 12px;

    img {
        width: 115px;
        height: 115px;
        object-fit: cover;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;

        h2 {
            margin: 0px;
            font-size: 22px;
            font-weight: lighter;
        }

        button {
            height: auto;
            width: auto;

        }

        a {
            text-decoration: none;
            color: $mintyWhite;
        }
    }
     .star-rating {
        width: 12px;
        height: auto;
        margin-right: 1px;
    }

}



// List View
.list-view-results {

    img {
        width: 145px;
        height: 145px;
        object-fit: cover;
        margin-left: 0;
    }

    .list-view-divs {
        background-color: white;
        box-shadow: $shadow;
        border-radius: 5px;
        padding: 1% 3%;
        margin: 2%;
        display: flex;
    }

    h3 {
        margin-top: 0;
    }

    .details-2 {
        display: flex;
        justify-content: space-between;
    }

    .details {
        // text-align: center;
        margin-left: 25px;
        width: 90%;

    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0;
        width: 90%;
    }

    .button {
        align-self: flex-end;
    }

    .star-rating {
        width: 12px;
        height: auto;
        margin-right: 1px;
    }

}

@media (min-width: 500px) {
    body {
        // background-color: red;
    }
}

// Filter/Sort
.filter-sort-component {
    background-color: white;
    box-shadow: $shadow;
    padding: 5px;

    .filter, .sort {
        display: flex;
        list-style-type: none;
        font-size: 10px;
        padding: 0;
        margin: 0;
    }

    li {
        border: 1px solid $button;
        border-radius: 5px;
        height: 25px;
    }
}

.filter-button {
    width: 20px;
    position: fixed;
    top: 95px;
    right: 3%;
    z-index: 5;
}


// User Restaurant Details
.restaurant-details {
    background-color: white;
    box-shadow: $shadow;
    margin: 2%;
    padding: 2%;

    .price-and-rating {
        display: flex;
        justify-content: space-around;
    }

    img {
        width: 12px;
    }

    .restaurant-pic {
        width: 60%;
        border-bottom: .5px solid lightgrey;
        padding-bottom: 25px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .restaurant-info-section,
    .buy {
        text-align: center;
    }

    .restaurant-menu-section {
        margin-left: 25%;

        h3 {
            // margin-left: 5%;
        }
    }

    ul {
        list-style-type: none;
        padding: 10px;
        padding: 0;
    }

    label {
        margin-left: 10px;
        position: relative;
        bottom: 3px;
    }
}


// Payment
.payment-section {
    background-color: white;
    box-shadow: $shadow;
    border-radius: 3px;
    margin: 2%;
    padding: 2% 2% 4% 2%;
    text-align: center;

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        // color: $lightBlue;
        // color: #A45A52;
        color: grey;
    }

    span {
        color: grey;
    }

    .order-details {
        font-size: 15px;
        font-weight: bolder;
        // color: $lightBlue;
    }

    .total {
        font-size: 15px;
        font-weight: bolder;
    }

    .saved {
        font-size: 15px;
        color: $button;
    }
}

.payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgray;
    padding-top: 4%;

    input {
        width: 200px;
        margin-bottom: 10px;
        border: .5px solid grey;
        padding: 5px;
    }

    label {
        color: $grey;
        padding: 5px;
    }

    button {
        margin: 10%;
    }
}


// Restaurant Details

.restaurant-details-component {
    background-color: white;
    box-shadow: $shadow;
    margin: 2%;
    padding: 2%;

    .delete {
        width: 50px;
        transform: rotate(45deg);
        cursor: pointer;
    }

    label {
        font-size: 15px;
    }

    input {
        border: 1px solid lightgrey;
        padding: 10px;
    }

    .add-item {
        color: black;
        display: flex;

        img {
            width: 100px;
            height: 50px;
            cursor: pointer;
        }

        p {
            margin-left: 0;
            padding-left: 0;
            position: relative;
            right: 25px;
            top: 15px;
        }
    }

    .add-item-dropdown {
        display: inline-block;
        background-color: white;
        box-shadow: $shadow;
        margin: 2%;
        padding: 2%;
        border: 1px solid $button;

        input {
            margin-right: 15px;
            margin-left: 5px;
            margin: 0 15px 15px 10px;
            padding: 4px;
            overflow-wrap: nowrap;
        }

        button {
            margin-left: 10px;
        }
    }

    td {
        font-weight: lighter;
        text-align: left;
        padding: 25px;
    }

   .current-menu {
       border-left: 1px solid lightgrey;
       padding: 0 10%;
       box-sizing: border-box;
   }

   h2, .location {
       margin-left: 5%;
       text-align: center;
   }

   .welcome {
       text-align: right;
   }

   .menu-section {
       margin-top: 50px;
   }
}

@media all and (max-width: 996px) {
    .restaurant-details-component .current-menu {
        border: none;
        padding: 15px 0;
        border-top: 1px solid lightgrey;
    }

    .menu-section {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 425px) {
     .current-menu h3 {
        text-align: center;
    }
}

// Payment Confirmation
.payment-conf {
    background-color: white;
    box-shadow: $shadow;
    border-radius: 3px;
    margin: 2%;
    padding: 10% 2%;
    text-align: center;

    img {
        width: 200px;
        margin: 5%;
    }

    p {
        margin: 5%;
    }
}