button {
  width: 70px;
  height: 25px;
  background-color: #48A9A6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

body {
  background-color: #F8F8F8; }

header {
  background-color: #272838;
  font-size: 15px;
  text-align: center;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 100px; }
  header img {
    width: 120px; }
  header h1 {
    margin: 0;
    padding: 1%;
    font-weight: lighter;
    font-size: 32px; }

#infoWindow {
  display: flex; }
  #infoWindow div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-shadow: 2px 2px 10px #888888; }
    #infoWindow div h2 {
      margin: 0px; }
    #infoWindow div button {
      height: auto;
      width: auto;
      box-shadow: 2px 2px 10px #888888; }
    #infoWindow div a {
      text-decoration: none;
      color: #F7FFF7; }
  #infoWindow img {
    box-shadow: 2px 2px 10px #888888; }

.rest-sign-in-view {
  background: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("/restaurant-background.jpg");
  background-size: cover;
  height: 85vh; }
  .rest-sign-in-view h3 {
    color: white;
    font-weight: normal;
    margin-top: 0px;
    text-shadow: 2px 2px 2px grey; }
  .rest-sign-in-view button {
    background: #48A9A6;
    width: 70%;
    height: 50px;
    font-size: 1.5em;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    color: #F7FFF7;
    border: 1px solid black;
    border-radius: 5px; }
  .rest-sign-in-view form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
  .rest-sign-in-view input {
    width: 75%;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px black;
    background: rgba(247, 255, 247, 0.8); }
  .rest-sign-in-view div {
    width: 100%;
    color: grey; }
  .rest-sign-in-view a {
    color: #272838; }
  .rest-sign-in-view h2 {
    color: white;
    margin: 0px;
    text-shadow: 2px 2px 2px grey; }
  .rest-sign-in-view p {
    text-align: center;
    width: 85%;
    border: 1px solid black;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px black;
    background: rgba(247, 255, 247, 0.8);
    padding: 5px 5px 5px 0px;
    color: #272838;
    font-weight: lighter;
    margin: 35px 0px 60px;
    height: 20%; }
  .rest-sign-in-view h5 {
    text-align: center;
    color: #F7FFF7;
    font-weight: normal;
    margin: 20px 0px 0px; }
  .rest-sign-in-view h4 {
    margin: 40px 0px 0px;
    color: #272838;
    text-align: left;
    width: 80%;
    font-size: 1.2em;
    font-weight: normal; }

@media (min-width: 800px) {
  .rest-sign-in-view {
    background: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("/restaurant-background.jpg");
    background-size: cover;
    height: 85vh; }
    .rest-sign-in-view input {
      padding: 10px;
      font-size: 1em;
      margin-bottom: 10px;
      box-shadow: 5px 5px 5px black;
      background: rgba(247, 255, 247, 0.8); }
    .rest-sign-in-view button {
      font-size: 1.3em; }
    .rest-sign-in-view div {
      width: 100%;
      color: grey; }
    .rest-sign-in-view a {
      color: white;
      font-size: 1em; }
    .rest-sign-in-view h2 {
      text-align: center;
      width: 100%;
      color: white;
      margin: 0px;
      text-shadow: 2px 2px 2px grey;
      height: 50px; }
    .rest-sign-in-view h3 {
      text-align: center;
      width: 100%;
      height: 30px;
      margin-top: 10px; }
    .rest-sign-in-view p {
      text-align: center;
      width: 45%;
      border: 1px solid black;
      font-size: 1.5em;
      box-shadow: 5px 5px 5px black;
      background: rgba(247, 255, 247, 0.8);
      padding: 5px 5px 5px 0px;
      color: #272838;
      font-weight: lighter;
      margin: 0px;
      height: 20%; }
    .rest-sign-in-view h5 {
      text-align: center;
      color: #F7FFF7;
      font-weight: normal;
      margin: 20px 0px 0px;
      font-size: 1.2em; }
    .rest-sign-in-view #sign-in {
      width: 40%;
      padding: 20px; }
    .rest-sign-in-view h4 {
      margin: 40px 0px 0px;
      color: #272838;
      text-align: left;
      width: 80%;
      font-size: 1.2em;
      font-weight: normal; } }
.sign-in-view {
  background: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("/background.jpg");
  background-size: cover;
  height: 85vh;
  align-content: flex-start; }
  .sign-in-view button {
    background: #48A9A6;
    width: 70%;
    height: 50px;
    font-size: 1.5em;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    color: #F7FFF7;
    border: 1px solid black;
    border-radius: 5px; }
  .sign-in-view #sign-in {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 125px 0px 30px; }
  .sign-in-view input {
    width: 75%;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px black;
    background: rgba(247, 255, 247, 0.8); }
  .sign-in-view div {
    width: 100%;
    color: grey;
    display: flex;
    align-self: flex-end;
    justify-content: center; }
    .sign-in-view div h5 {
      text-align: center;
      color: #F7FFF7;
      font-weight: normal;
      margin: 20px 0px 10px 0px; }
  .sign-in-view a {
    color: #272838; }
  .sign-in-view h2 {
    margin: 0px; }
  .sign-in-view p {
    text-align: center;
    width: 85%;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px black;
    background: rgba(247, 255, 247, 0.8);
    padding: 5px 5px 5px 0px;
    color: #272838;
    font-weight: lighter;
    margin-top: 40px;
    height: 130px; }
  .sign-in-view h4 {
    margin: 40px 0px 0px;
    color: #272838;
    text-align: left;
    width: 80%;
    font-size: 1.2em;
    font-weight: normal; }

.toggle-search-and-map-view {
  text-align: center;
  position: sticky;
  top: 51px; }
  .toggle-search-and-map-view button {
    background-color: white;
    width: 49%;
    height: 30px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px #888888;
    color: black; }
  .toggle-search-and-map-view a {
    text-decoration: none; }
  .toggle-search-and-map-view button:active {
    background-color: lightgrey; }

#map {
  height: 560px;
  width: 100%;
  margin-top: 10px; }

.list-view-results img {
  width: 145px;
  height: 165px;
  object-fit: cover;
  margin-left: 0; }
.list-view-results .list-view-divs {
  background-color: white;
  box-shadow: 2px 2px 10px #888888;
  border-radius: 5px;
  padding: 1% 3%;
  margin: 2%;
  display: flex; }
.list-view-results h3 {
  margin-top: 0; }
.list-view-results .details-2 {
  display: flex;
  justify-content: space-between; }
.list-view-results .details {
  margin-left: 25px;
  width: 90%; }
.list-view-results .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0; }
.list-view-results .button {
  align-self: flex-end; }

.filter-sort-component {
  background-color: white;
  box-shadow: 2px 2px 10px #888888;
  padding: 5px; }
  .filter-sort-component .filter, .filter-sort-component .sort {
    display: flex;
    list-style-type: none;
    font-size: 10px;
    padding: 0;
    margin: 0; }
  .filter-sort-component li {
    border: 1px solid #48A9A6;
    border-radius: 5px;
    height: 25px; }

.filter-button {
  width: 20px;
  position: fixed;
  top: 95px;
  right: 3%;
  z-index: 5; }

.restaurant-details {
  background-color: white;
  box-shadow: 2px 2px 10px #888888;
  margin: 2%;
  padding: 2%; }
  .restaurant-details ul {
    list-style-type: none; }

.payment-section {
  background-color: white;
  box-shadow: 2px 2px 10px #888888;
  border-radius: 3px;
  margin: 2%;
  padding: 2% 2% 4% 2%;
  text-align: center; }
  .payment-section ul {
    list-style-type: none;
    padding-left: 0; }
  .payment-section li {
    color: #3693C1; }

.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid lightgray;
  padding-top: 4%; }
  .payment-form input {
    width: 200px;
    margin-bottom: 10px;
    border: .5px solid grey;
    padding: 5px; }
  .payment-form label {
    color: #6B6D6D;
    padding: 5px; }
  .payment-form button {
    margin: 10%; }

.restaurant-details-component {
  background-color: white;
  box-shadow: 2px 2px 10px #888888;
  margin: 2%;
  padding: 2%; }
  .restaurant-details-component label {
    font-size: 15px; }
  .restaurant-details-component input {
    border: 1px solid lightgrey;
    padding: 10px; }
  .restaurant-details-component .add-item {
    color: black;
    display: flex; }
    .restaurant-details-component .add-item img {
      width: 100px;
      height: 50px;
      cursor: pointer; }
    .restaurant-details-component .add-item p {
      margin-left: 0;
      padding-left: 0;
      position: relative;
      right: 25px;
      top: 15px; }
  .restaurant-details-component .add-item-dropdown {
    display: inline-block;
    background-color: white;
    box-shadow: 2px 2px 10px #888888;
    margin: 2%;
    padding: 2%;
    border: 1px solid #48A9A6; }
    .restaurant-details-component .add-item-dropdown input {
      margin-right: 15px;
      margin-left: 5px;
      margin: 0 15px 15px 10px;
      padding: 4px;
      overflow-wrap: nowrap; }
    .restaurant-details-component .add-item-dropdown button {
      margin-left: 10px; }
  .restaurant-details-component td {
    font-weight: lighter;
    text-align: left;
    padding: 25px; }
  .restaurant-details-component .current-menu {
    border-left: 1px solid lightgrey;
    padding: 0 10%;
    box-sizing: border-box; }
  .restaurant-details-component h2, .restaurant-details-component .location {
    margin-left: 5%;
    text-align: center; }
  .restaurant-details-component .welcome {
    text-align: right; }
  .restaurant-details-component .menu-section {
    margin-top: 50px; }

/*# sourceMappingURL=style.css.map */
